.containerdetnav {

    position: relative;
    z-index: 1;
    padding-bottom: 30px;
    bottom: 60px;
  }
  
  .cardd-det-nav {

    width: 950px;
    height:150px; 
    background-color: white;
    border-radius: 6px;
    border-top-left-radius: 0px;
    /* padding: 40px; */
    /* border: rgb(91, 91, 235); */
    /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
    z-index: 1;
    margin-bottom: 60px;
    padding-bottom: 0px;
    position: relative;
    margin-left: 160px;
    display: flex;
  }


  .image-nav {
    width: 150px;
    height: 150px;
    overflow: hidden;
    border-bottom-left-radius: 6px;
  }
  
  .imagee-det {
    width: 100px;
    margin-left: 20px;
    padding-top: 60px;

  }

  .dev-title{
    padding: 40px;
  }

  .dev-description{
    padding-right: 10px;
    color: #6E8098;
  }

  .dev-button {
    height: 45px;
    width: 130px;
    margin-top: 50px;
    margin-left: 450px;
    border-radius: 6px;
    border: none;
    color: rgb(91, 91, 235);
    /* font-weight: 500; */
    font-weight: bolder;
    background-color: rgb(244, 246, 248);

  }

  .dev-button:hover {
    background-color: rgb(147,155,244);
  }