.container-det-card {
    width: 950px;
    margin-left: 160px;
    background-color: white;
    padding: 60px;
    border-radius: 6px;
    margin-top: -90px;
}

.det-description-top {
    font-size: 16px;
    color: #888;
    margin-top: 0px; 
    margin-bottom: 3px;

  }

  .det-desc-button {
    font-weight: 500;
    font-size: medium;
    margin-left: 340px;
    color: white;
    background-color: blue;
    border-radius: 6px;
    height: 45px;
    width: 130px;
    border: none;

  }
  
  .det-title {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 0px;
    margin-top: 0px;

  }



  
  .det-description {
    font-size: 16px;
    color: #888;
    margin-top: 40px;
    margin-bottom: 40px;
    
  }
  
 .det-p-desc{
    font-size: 16px;
    color: #888;
    
 }

  .det-span {
color: blue;
font-weight: bolder;
font-size: 14px;

  }

  .det-description-point {
    font-size: 16px;
    color: #888;
    margin-top: 40px;
    margin-bottom: 40px;
    
  }

  .tryy {
    width: 415px;
    height:100px; 
    background-color: white;
    border-radius: 4px;
    padding: 40px;
    border: blue;
    /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
    z-index: 1;
    margin-bottom: 60px;
    padding-bottom: 200px;
    position: relative;  }

    .role-item::before {
      content: "\2022";
  color: red;
  /* font-weight: bold; */
  /* display: inline-block;  */
  /* width: 1em; */
  margin-left: -0em;
  list-style-type: lower-roman;
    }