div .divsvg{
    position: relative;
  }

  .head-div {
    position: relative;
    margin-bottom: 110px;

  }
  
  

  .svg-header {
    width: 1850px;
        z-index: 1;
        position: absolute;


  }

  .svg-logo {
    position: relative;
    z-index: 1;
    margin-top: 70px;
padding-left: 280px;
  }

  .svg-switch {
    position: relative;
    z-index: 2;
padding-top: 70px;
padding-left: 1085px;

  }

  .svg-moon{
    position: relative;
    z-index: 1;
margin-left: -360px;  }

  .svg-sun{
    position: relative;
    z-index: 1;
    margin-left: -390px;
  }

  /* Container for the toggle switch */
/* Container for the toggle switch */
/* Container for the toggle switch */
/* Container for the toggle switch */
/* Container for the toggle switch */
.toggle-switch {
  position: relative;
  display: inline-block;
  width: 48px;
  height: 24px;
  margin-left: 10px;
  margin-right: 10px;
}

/* Hide the default checkbox */
.toggle-switch input[type="checkbox"] {
  display: absolute;
}

/* Slider design */
.toggle-switch .slider {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: white;
  border-radius: 12px;
  cursor: pointer;
  transition: background-color 0.2s;
}

/* Slider knob */
.toggle-switch .slider::before {
  content: '';
  position: absolute;
  top: 4px;
  left: 4px;
  width: 15px;
  height: 15px;
  background-color: blue;
  border-radius: 50%;
  transition: transform 0.2s;
}

/* Toggle switch on state */
.toggle-switch input[type="checkbox"]:checked + .slider {
  background-color: white;
}

/* Move the knob to the right on toggle switch on state */
.toggle-switch input[type="checkbox"]:checked + .slider::before {
  transform: translateX(24px);
}

