div .divsvg{
    position: relative;
  }

  .head-div {
    position: relative;
    margin-bottom: 6.875rem;

  }
  
  

  .svg-header {
    /* width: 115.6rem; */
    width: 100%;
    height: 160px;
        z-index: 1;
        position: absolute;


  }

  

  .svg-logo {
    position: relative;
    z-index: 1;
    margin-top: 4.375rem;
    padding-left: 15%;
  }

  .svg-switch {
    position: relative;
    z-index: 2;
padding-top: 4.374rem;
padding-left: 59%;

  }

  .svg-moon{
    position: relative;
    z-index: 1;
margin-left: -27.5rem;  }

  .svg-sun{
    position: relative;
    z-index: 1;
    margin-left: -24.375rem;
  }


.toggle-switch {
  position: relative;
  display: inline-block;
  width: 3rem;
  height: 1.5rem;
  margin-left: 0.625rem;
  margin-right: 0.625rem;
}

/* Hide the default checkbox */
.toggle-switch input[type="checkbox"] {
  display: absolute;
}

/* Slider design */
.toggle-switch .slider {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: white;
  border-radius: 0.75rem;
  cursor: pointer;
  transition: background-color 0.2s;
}

/* Slider knob */
.toggle-switch .slider::before {
  content: '';
  position: absolute;
  top: 0.325rem;
  left: 0.325rem;
  width: 0.9375rem;
  height: 0.9375rem;
  background-color: rgb(61, 61, 219);
  
  border-radius: 50%;
  transition: transform 0.2s;
}

.toggle-switch:hover .slider::before {
  background-color: rgb(147, 155, 244);
}

/* Toggle switch on state */
.toggle-switch input[type="checkbox"]:checked + .slider {
  background-color: white;
}

/* Move the knob to the right on toggle switch on state */
.toggle-switch input[type="checkbox"]:checked + .slider::before {
  transform: translateX(1.5rem);
}

@media (max-width: 835px) {
  .svg-logo {
    position: relative;
    z-index: 1;
    margin-top: 4.375rem;
    padding-left: 13%;
  }

  .svg-switch {
    position: relative;
    z-index: 2;
padding-top: 4.374rem;
padding-left: 50%;

  }
}



  


@media (max-width: 768px) {
  .svg-table-header{
    width: 100%;
    height: 16.5vh;
        z-index: 1;
        position: absolute;
  }

  .svg-logo {
    position: relative;
    z-index: 1;
    margin-top: 4.375rem;
    padding-left: 5%;
  }

  .svg-switch {
    position: relative;
    z-index: 2;
padding-top: 4.374rem;
padding-left: 62%;
}

  .svg-moon{
    position: relative;
    z-index: 1;
margin-left: -27.5rem;  }

  .svg-sun{
    position: relative;
    z-index: 1;
    margin-left: -24.375rem;
  }   
}

@media (max-width: 705px) {
  .svg-logo {
    position: relative;
    z-index: 1;
    margin-top: 4.375rem;
    padding-left: 5%;
  }

  .svg-switch {
    position: relative;
    z-index: 2;
padding-top: 4.374rem;
padding-left: 52%;
}
}

@media (max-width: 554px) {
  .svg-logo {
    position: relative;
    z-index: 1;
    padding-top: 2.375rem;
    margin-top: 0px;
    padding-left: 5%;
    margin-bottom: 40px;
  }

  .svg-switch {
    position: relative;
    z-index: 2;
padding-top: 2.374rem;
padding-left: 52%;
}
}

@media (max-width: 505px) {
  .svg-logo {
    position: relative;
    z-index: 1;
    padding-top: 2.375rem;
    margin-top: 0px;
    padding-left: 10%;
    margin-bottom: 40px;
  }

  .svg-switch {
    position: relative;
    z-index: 2;
padding-top: 2.374rem;
padding-left: 30%;
}
}