.containernav {

  position: relative;
  z-index: 1;
  padding-bottom: 30px;
  bottom: 105px;
  width: 100%;
  /* background-color: black; */


}

.d-flex {
  width: 100%;
}



  
.searchbox {
  width: 131.25rem; /* Set the desired width here */
}

.search-box-large {
  width: 134.375rem; /* Adjust the width as needed */
}

.input-search {
  padding-left: 4.25rem;
  caret-color: rgb(91, 91, 235);
  border: none;
  cursor: pointer;
  background-color: var(--white);
  width: 530px;
  height: 90px;
}

input:focus,
select:focus {
  outline: none;
}

.search {
  position: absolute;
  margin-top: 2.1875rem;
  margin-left: 1.7rem;
  z-index: 2;
  display: block;
  text-align: center;
  pointer-events: none;
}

input.input-location {
  width: 22.5rem;
  border-bottom: none;
  border-top: none;
  border-right: 0.0625rem solid var(--border_line);
  border-left: 0.0625rem solid var(--border_line);
  border-left-style: solid;
  caret-color: rgb(91, 91, 235);
  cursor: pointer;
  background-color: var(--white);
  padding-left: 4.25rem;
}

.location {
  position: absolute;
  margin-top: 2.1875rem;
  margin-left: 43%;
  z-index: 2;
  display: block;
  text-align: center;
  pointer-events: none;
  color: #aaa;
}

.location:focus,
select:focus {
  outline: none;
}

.input-check {
  padding-left: 5.25rem;
  width: 25.9375rem;
  height: 5.625rem;
  background-color: var(--white);
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  padding-top: 2.1875rem;
  color: var(--text_color);
}

button.button-search {
  position: absolute;
  margin-top: 1.1875rem;
  margin-left: 89%;
  height: 50%;
  width: 10%;
  border-radius: 0.5rem;
  background-color: rgb(91, 91, 235);
  border: none;
  color: white;
  font-weight: bolder;
}

button:hover {
  background-color: rgb(147, 155, 244);
}

.checkbox-container {
  position: absolute;
  margin-top: 2.1875rem;
  margin-left: 71%;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.checkbox-container input[type="checkbox"] {
  display: none;
}

.checkmark {
  position: relative;
  width: 1.5rem;
  height: 1.5rem;
  border: 0.0625rem solid #ccc;
  border-radius: 0.1875rem;
  margin-right: 0.5rem;
  background-color: var(--check_box);
}

.checkmark:hover {
  background-color: rgb(147, 155, 244);
}

.checkmark::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 0.875rem; /* Adjust the width of the image */
  height: 0.875rem; /* Adjust the height of the image */
  background-image: url('../images/icon-check.svg'); /* Replace with the path to your check image */
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0;
  transition: opacity 0.2s;
}

.checkbox-container input[type="checkbox"]:checked + .checkmark {
  background-color: rgb(91, 91, 235);
}

.checkbox-container input[type="checkbox"]:checked + .checkmark::after {
  opacity: 1;
}

.h4-foot {
  font-size: 1.125rem;
  /* margin-right: 100px; */
}

@media (max-width: 908px) {
   .containernav{
    width: 80%;
   }

   .input-search {
    padding-left: 4.25rem;
    /* padding-right: 30px; */
    caret-color: rgb(91, 91, 235);
    border: none;
    cursor: pointer;
    background-color: var(--white);
    width: 220px;
    height: 90px;
    
  }

  .location {
    position: absolute;
    margin-top: 2.1875rem;
    margin-left: 34%;
    z-index: 2;
    display: block;
    text-align: center;
    pointer-events: none;
    color: #aaa;
  }

  input.input-location {
    width: 13.75rem;
    border-bottom: none;
    border-top: none;
    border-right: 0.0625rem solid var(--border_line);
    border-left: 0.0625rem solid var(--border_line);
    border-left-style: solid;
    caret-color: rgb(91, 91, 235);
    cursor: pointer;
    background-color: var(--white);
    padding-left: 4.25rem;
  }

  .input-check {
    padding-left: 4rem;
    width: 30.9375rem;
    height: 5.625rem;
    background-color: var(--white);
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    padding-top: 2.1875rem;
    color: var(--text_color);
    /* display: inline-flex */
  }

  .checkbox-container {
    position: absolute;
    margin-top: 2.1875rem;
    margin-left: 65%;
    display: flex;
    align-items: center;
    cursor: pointer;
  }

  button.button-search {
    position: absolute;
    margin-top: 1.1875rem;
    margin-left: 88%;
    height: 40%;
    width: 12%;
    border-radius: 0.5rem;
    background-color: rgb(91, 91, 235);
    border: none;
    color: white;
    font-weight: bolder;
  }

  .checkmark {
    position: relative;
    width: 1.5rem;
    height: 1.5rem;
    border: 0.0625rem solid #ccc;
    border-radius: 0.1875rem;
    margin-right: 0.5rem;
    background-color: var(--check_box);
  }

  .h4-foot {
    font-size: 1.125rem;
    margin-right: 7.24rem;
  
  }
} 
  
  @media (max-width: 878px) {
    .containernav{
     width: 80%;
    }
 
    .input-search {
     padding-left: 4.25rem;
     /* padding-right: 30px; */
     caret-color: rgb(91, 91, 235);
     border: none;
     cursor: pointer;
     background-color: var(--white);
     width: 220px;
     height: 90px;
     
   }
 
   .location {
     position: absolute;
     margin-top: 2.1875rem;
     margin-left: 37%;
     z-index: 2;
     display: block;
     text-align: center;
     pointer-events: none;
     color: #aaa;
   }
 
   input.input-location {
     width: 13.75rem;
     border-bottom: none;
     border-top: none;
     border-right: 0.0625rem solid var(--border_line);
     border-left: 0.0625rem solid var(--border_line);
     border-left-style: solid;
     caret-color: rgb(91, 91, 235);
     cursor: pointer;
     background-color: var(--white);
     padding-left: 4.25rem;
   }
 
   .input-check {
     padding-left: 4rem;
     width: 30.9375rem;
     height: 5.625rem;
     background-color: var(--white);
     border-top-left-radius: 0;
     border-bottom-left-radius: 0;
     padding-top: 2.1875rem;
     color: var(--text_color);
     /* display: inline-flex */
   }
 
   .checkbox-container {
     position: absolute;
     margin-top: 2.1875rem;
     margin-left: 68%;
     display: flex;
     align-items: center;
     cursor: pointer;
   }
 
   button.button-search {
     position: absolute;
     margin-top: 1.1875rem;
     margin-left: 88%;
     height: 40%;
     width: 12%;
     border-radius: 0.5rem;
     background-color: rgb(91, 91, 235);
     border: none;
     color: white;
     font-weight: bolder;
   }
 
   .checkmark {
     position: relative;
     width: 1.5rem;
     height: 1.5rem;
     border: 0.0625rem solid #ccc;
     border-radius: 0.1875rem;
     margin-right: 0.5rem;
     background-color: var(--check_box);
   }
 
   .h4-foot {
     font-size: 1.125rem;
     margin-right: 20%;
  
   }


  
  }
  @media (max-width: 768px) {
    .containernav{
      width: 100%;
      left: -12%;
     }


     
     .input-search {
      padding-left: 4.25rem;
      /* padding-right: 30px; */
      caret-color: rgb(91, 91, 235);
      border: none;
      cursor: pointer;
      background-color: var(--white);
      width: 220px;
      height: 90px;
      
    }

    .location {
      position: absolute;
      margin-top: 2.1875rem;
      margin-left: 47%;
      z-index: 2;
      display: block;
      text-align: center;
      pointer-events: none;
      color: #aaa;
    }

    input.input-location {
      width: 13.75rem;
      border-bottom: none;
      border-top: none;
      border-right: 0.0625rem solid var(--border_line);
      border-left: 0.0625rem solid var(--border_line);
      border-left-style: solid;
      caret-color: rgb(91, 91, 235);
      cursor: pointer;
      background-color: var(--white);
      padding-left: 4.25rem;
    }

    .input-check {
      padding-left: 4rem;
      width: 30.9375rem;
      height: 5.625rem;
      background-color: var(--white);
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      padding-top: 2.1875rem;
      color: var(--text_color);
      /* display: inline-flex */
    }

    .checkbox-container {
      position: absolute;
      margin-top: 2.1875rem;
      margin-left: 89%;
      display: flex;
      align-items: center;
      cursor: pointer;
    }

    button.button-search {
      position: absolute;
      margin-top: 1.1875rem;
      margin-left: 117%;
      height: 40%;
      width: 12%;
      border-radius: 0.5rem;
      background-color: rgb(91, 91, 235);
      border: none;
      color: white;
      font-weight: bolder;
    }

    .checkmark {
      position: relative;
      width: 1.5rem;
      height: 1.5rem;
      border: 0.0625rem solid #ccc;
      border-radius: 0.1875rem;
      margin-right: 0.5rem;
      background-color: var(--check_box);
    }

    .h4-foot {
      font-size: 1.125rem;
      margin-right: 7.24rem;
      white-space: nowrap;
   
    }
  }

  @media (max-width: 705px) {
    .containernav{
      width: 100%;
      left: -4%;
     }


     
     .input-search {
      padding-left: 3.25rem;
      /* padding-right: 30px; */
      caret-color: rgb(91, 91, 235);
      border: none;
      cursor: pointer;
      background-color: var(--white);
      width: 180px;
      height: 90px;
      
    }

    .location {
      position: absolute;
      margin-top: 2.1875rem;
      margin-left: 39%;
      z-index: 2;
      display: block;
      text-align: center;
      pointer-events: none;
      color: #aaa;
    }

    input.input-location {
      width: 9.75rem;
      border-bottom: none;
      border-top: none;
      border-right: 0.0625rem solid var(--border_line);
      border-left: 0.0625rem solid var(--border_line);
      border-left-style: solid;
      caret-color: rgb(91, 91, 235);
      cursor: pointer;
      background-color: var(--white);
      padding-left: 3.0rem;
    }

    .input-check {
      padding-left: 4rem;
      width: 28.9375rem;
      height: 5.625rem;
      background-color: var(--white);
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      padding-top: 2.1875rem;
      color: var(--text_color);
      /* display: inline-flex */
    }

    .checkbox-container {
      position: absolute;
      margin-top: 2.1875rem;
      margin-left: 69%;
      display: flex;
      align-items: center;
      cursor: pointer;
    }

    button.button-search {
      position: absolute;
      margin-top: 1.1875rem;
      margin-left: 93%;
      height: 40%;
      width: 12%;
      border-radius: 0.5rem;
      background-color: rgb(91, 91, 235);
      border: none;
      color: white;
      font-weight: bolder;
    }

    .checkmark {
      position: relative;
      width: 1.5rem;
      height: 1.5rem;
      border: 0.0625rem solid #ccc;
      border-radius: 0.1875rem;
      margin-right: 0.5rem;
      background-color: var(--check_box);
    }

    .h4-foot {
      font-size: 1.125rem;
      margin-right: 5.24rem;
      white-space: nowrap;
   
    }
  }

  @media (max-width:554px) {
    .mobile-nav{
width: 100%;
height: 0px;
justify-content: center;
align-items: center;
display: flex;

    }

     input.input-location {
      width: 90%;
      height: 90px;
      padding: 30px;
      position: relative;
  z-index: 1;
  padding-bottom: 30px;
  bottom: 70px;
  /* width: 100%; */
      /* justify-content: center;
      align-items: center; */
      border-bottom: none;
      border-top: none;
      /* border-right: 0.0625rem solid var(--border_line);
      border-left: 0.0625rem solid var(--border_line); */
      /* border-left-style: solid; */
      border-radius: 10px;
      caret-color: rgb(91, 91, 235);
      cursor: pointer;
      background-color: var(--white);
      padding-left: 3.0rem;
    }
    .location-mobile{
      /* position: absolute;
      margin-left: 43%;
      top: 140px;
      z-index: 2;
      display: block;
      pointer-events: none;
      color: #aaa; */

      position: absolute;
      top: 120px;

      /* margin-top: 1.1875rem; */
      margin-left: 50%;
      height: 6%;
      width: 10%;
      border-radius: 0.5rem;
      /* background-color: rgb(91, 91, 235); */
      background: transparent;
      border: none;
      color: white;
      font-weight: bolder;
      z-index: 2;
    }

    button.button-search {
      position: absolute;
      top: 104px;

      /* margin-top: 1.1875rem; */
      margin-left: 75%;
      height: 6%;
      width: 10%;
      border-radius: 0.5rem;
      background-color: rgb(91, 91, 235);
      border: none;
      color: white;
      font-weight: bolder;
      z-index: 2;
    }

    button:hover {
      background-color: rgb(147, 155, 244);
    }
    /* .search {
      color: white;
      position: absolute;
      margin-top: 2.1875rem;
      margin-left: 1.7rem;
      z-index: 2;
      display: block;
      text-align: center;
      pointer-events: none;
    } */

    .popup-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.popup {
  background-color: var(--white);
  height: 220px;
  width: 400px;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  display: relative;

  /* Add additional styles as needed */
}

.pop-up-input-location{
  width: 22.5rem;
  /* border-bottom: none; */
  border-top: none;
  border-right: 0.0625rem solid var(--border_line);
  border-left: 0.0625rem solid var(--border_line);
  border-left-style: solid;
  caret-color: rgb(91, 91, 235);
  cursor: pointer;
  background-color: var(--white);
  padding-left: 4.25rem;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-bottom: 25px;
  padding-top: 0px;
}

.pop-up-location{
  position: absolute;
  margin-top: -2.8875rem;
  margin-left: 3%;
  z-index: 2;
  display: block;
  text-align: center;
  pointer-events: none;
  color: #aaa;
}

.pop-up-input-check{
  /* padding-left: 45px;
  font-size: 300; */
  padding-left: 5.25rem;
  width: 398px;
  height: 4.625rem;
  background-color: var(--white);
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  padding-top: 20px;
  color: var(--text_color);
  margin-top: 0px;
  margin-left: -19px;
}

.checkbox-container {
  position: absolute;
  margin-top: -3.1rem;
  margin-left: 3%;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.checkbox-container input[type="checkbox"] {
  display: none;
}

.checkmark {
  position: relative;
  width: 1.5rem;
  height: 1.5rem;
  border: 0.0625rem solid #ccc;
  border-radius: 0.1875rem;
  margin-right: 0.5rem;
  background-color: var(--check_box);
}

.pop-up-button-search{
  width: 350px;
  height: 50px;
  border-radius: 10px;
  background-color: rgb(91, 91, 235);
  border: none;
  font-weight: 500;
  font-size: medium;
  /* margin-top: 20px; */
  font-weight: bolder;
  color: white;
  margin-bottom: 20px;
}

  }