.cardd {
    width: 415px;
    height:100px; 
    background-color: var(--white);
    border-radius: 4px;
    padding: 40px;
    border: blue;
    /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
    z-index: 1;
    margin-bottom: 60px;
    padding-bottom: 200px;
    position: relative;
  }

  .logo-background-div {
    width: 60px;
    height: 60px;
    padding-top: 0px;
    top: -73px;
    left: 0px;
    z-index: 2;
    position: relative;
    border-radius: 18px;
    background-color: blue;

  }

  .imagee {
padding-left: 10px;
padding-top: 20px;
  }

 
  
  .card-content {
    margin-top: 8px;
    position: relative;
    top: -53px;
    
  }

  .card-description-top {
    font-size: 16px;
    color: #888;
    margin-top: 0px; 
    margin-bottom: 6px;

  }
  
  .card-title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 7px;
    margin-top: 1px;
    color: var(--text_color);

  }

  .card-title:hover {
   color: rgb(110, 128,152);
  }



  
  .card-description-bottom {
    font-size: 16px;
    color: #888;
    margin-top: 8px;
    margin-bottom: 40px;
    
  }
  
  .card-span {
color: rgb(91, 91, 235);
font-weight: bold;

  }

  .load-more-button{
    margin-left: 600px;
    color: white;
    background-color: rgb(91, 91, 235);
    border-radius: 6px;
    height: 45px;
    width: 130px;
    border: none;
    font-weight: 500;
    font-size: medium;
    margin-top: 20px;
    font-weight: bolder;

}

.load-more-button:hover {
  background-color: rgb(147, 155, 244);
}