div .devian {
    background-color: #F4F6F8;
    height: 100vh;

    /* background-color: red; */

}

 /* .devian {
    background-color: aqua;
  } */

  /* div.devian {
    color: red;
    background-color: blue;
  }
   */