/* div .devian {
    background-color: #F4F6F8;
    height: 100vh;


} */

/* styles.css */


 /* .devian {
    background-color: aqua;
  } */

  /* div.devian {
    color: red;
    background-color: blue;
  }
   */