/* 
  .navbar-det {
    position: absolute;
    top: 110px;
    left: 0px; 
    z-index: 2;
    margin-left: 170px;
    margin-right: 170px;
    align-self: middle;

    
  }
  
  .searchbox {
    width: 2100px; 
  }
  
  .search-box-large {
    width: 2150px;
  }

  
  
  input.input-search {
    padding-left: 4.375rem;

  }


   svg.search {
    position: absolute;
    margin-top: 35px;
    margin-left: 35px;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
  }

  input.input-location {
    padding-left: 4.375rem;

  }


  svg.location {
    position: absolute;
    margin-top: 35px;
    margin-left: 565px;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
  }


  input.input-check {
    padding-left: 4.375rem;

  }

  svg.check {
    position: absolute;
    margin-top: 35px;
    margin-left: 475px;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
  }
  
  button.button-search {
    position: absolute;
    margin-top: 19px;
    margin-left: 1155px;
    height: 50px;
    width: 120px;
    border-radius: 8px;
    background-color: rgb(91, 91, 235);
  }

   */